<!-- header attachment point-->
<div id="app-header-view" class="navbar navbar-static-top">
    <!-- Main site navigation header -->
    <div class="navbar-inner noshadow">
        <div class="container">
            <a class="brand" href="#">Backbone Boilerplate</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- view attachment point-->
<div id="current-view"></div>